src/main/resources/scema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="APResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resource" type="xs:string" />
                <xs:element name="action" type="xs:string" />
                <xs:element name="request" type="xs:string" />
                <xs:element name="result" type="xs:string" />
                <xs:element name="errors">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="error" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="count" type="xs:unsignedByte" />
                <xs:element name="data">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="location">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="c_id" type="xs:unsignedByte" />
                                        <xs:element name="location_id" type="xs:unsignedByte" />
                                        <xs:element name="headquarters" type="xs:string" />
                                        <xs:element name="sort_order" type="xs:unsignedByte" />
                                        <xs:element name="location_name" type="xs:string" />
                                        <xs:element name="headquarters_id" type="xs:unsignedByte" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>